#==== Vonage Voice API ====

#-- From dashboard.nexmo.com --
API_KEY=xxxxxxx
API_SECRET=xxxxxxx

#-- Application ID (from dashboard.nexmo.com) --
APP_ID=xxxxxxxx

#-- A Vonage API number linked to the above application (from dashboard.nexmo.com) --
#-- Must be in E.164 format without leading '+' sign --
SERVICE_PHONE_NUMBER=12995550101

#==== Other custom parameters ====

# Max call duration for outbound calls in seconds
MAX_CALL_DURATION=300

#======== Smallest.ai ===========
SMALLEST_AI_API_KEY=xxxxxxxxx
SMALLEST_AI_TTS_MODEL=lightning_v3.1_pro

#=== A few TTS voices on smallest.ai - Lightning v3.1 Pro model ==
# See https://docs.smallest.ai/waves/model-cards/text-to-speech/lightning-v-3-1-pro#voice-catalog
# You may update the following list for your own tests
SMALLEST_AI_SOME_TTS_VOICES=kaitlyn,savannah,amelia,zoe,ruby,leah,jenna,kate,molly,sara,fiona,blake,austin,henry,jack,leo,luke,owen